{% extends 'all-temps/base.html' %}
{% load static %}

{% block content %}
<style>
    .jumbotron {
        padding-top: 1%;
        text-align: center;
        border: 2px solid black;
        background-color: #fc3197;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
        filter: drop-shadow(8px 8px 8px #43D8C9);
    }

    .jumbotron:hover {
        filter: drop-shadow(8px 8px 8px grey);
    }

    .p {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .img {
        text-align: center;
        padding-bottom: 2%;
    }
</style>
<br><br><br><br>
<div class="container">
    <img src="/static/image/sc1logo.png" alt="">
</div>

<div class="jumbotron">
    <div class="img">
        <img src="/static/image/WhatsApp Image 2022-01-06 at 12.19.32.jpeg" width="100%" alt="">
    </div>
    <h1 style="padding-bottom: 1%;">About Us</h1>
    <h3>-------Our Story--------</h3>
    <div class="p">
        <p style="font-size: larger;">Just over two years ago, I became fascinated by the idea of discovering new
            delicacies,both sweet and
            savoury.
            <br> Here we mainly focus on satisfying our clients through quality products and services. <br> This company
            was
            founded
            by me, <span style="color:#A1DD70; font-size:xx-large; font-weight:600;">Ms. Sophie Were</span>, in 2019.
            <br>
            My mum who was a
            home baker taught me some of
            the skills
            that
            made me an amateur baker at home. <br> This made me develop passion and i decided to make it my proffession.
        </p>
    </div>
</div>

{% endblock content %}