
{%extends 'all-temps/base.html'%} {% block content %} {{block.super}}

<section class="home container-full">
  <div class="media-icons">
    <a href="#"><i class="uil uil-facebook-f"></i></a>
    <a href="#"><i class="uil uil-instagram"></i></a>
    <a href="#"><i class="uil uil-twitter"></i></a>
  </div>

 
  <div class="swiper bg-slider">
    <div class="swiper-wrapper">
      
      <div class="swiper-slide dark-layer">
        <img src="https://cdn.shopify.com/s/files/1/1284/6493/files/slide_3.jpg?v=1530955464" alt="">
        <div class="text-content"> <p>Lorem, ipsum.</p>
          <h2 class="title text-dark">Winter <span>Season</span></h2>
          <p>Winter is the coldest season of the year in polar and temperate zones. It occurs
          between autumn and spring.The tilt of Earth's axis causes seasons; winter occurs
          when a hemisphere is oriented away from the Sun. Different cultures define different
          dates as the start of winter, and some use a definition based on weather.</p>
          <button class="read-btn">Read More <i class="uil uil-arrow-right"></i></button>
        </div>
      </div>
      <div class="swiper-slide dark-layer">
        <img src="https://media.istockphoto.com/photos/wedding-cake-picture-id155370628?k=20&m=155370628&s=612x612&w=0&h=KIg4IKc3C1YLgV7-d5VZYIK4nzSYongvYyHQSEKj4g0=" alt="">
        <div class="text-content">
          <h2 class="title" style="color: crimson;">Summer <span>Season</span></h2>
          <p>Summer is the hottest of the four temperate seasons, occurring after spring and
          before autumn. At or aroundthe summer solstice, the earliest sunrise and latest
          sunset occurs, daylight hours are longest and dark hours are shortest, with day
          length decreasing as the season progresses after the solstice.</p>
          <button class="read-btn">Read More <i class="uil uil-arrow-right"></i></button>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="bg-slider-thumbs">
    <div class="swiper-wrapper thumbs-container">
      <img src="https://cdn.shopify.com/s/files/1/1284/6493/files/slide_3.jpg?v=1530955464" class="swiper-slide" alt="">
      <img src="https://media.istockphoto.com/photos/wedding-cake-picture-id155370628?k=20&m=155370628&s=612x612&w=0&h=KIg4IKc3C1YLgV7-d5VZYIK4nzSYongvYyHQSEKj4g0=" class="swiper-slide" alt="">
    </div>
  </div>
</section>

<section class="about section">
  <div class="row">
    <div class="col-lg-3  col-sm-12 colum justify-content-start">
      <img src="https://cdn.shopify.com/s/files/1/0013/7487/9814/files/icons-1_200x200.png?v=1534837901" alt="">
      <h6>Money Back Guarantee</h6>
      <p>Send within 30 days</p>
    </div>
    <div class="col-lg-3  col-sm-12 colum">
      <img src="https://cdn.shopify.com/s/files/1/0013/7487/9814/files/icons-2_200x200.png?v=1534837916" alt="">
      <h6>24/7 Customer Service</h6>
      <p>Call Us 24/7 at 2547 123 456 789</p>
    </div>
    <div class="col-lg-3  col-sm-12 colum justify-content-end">
      <img src="https://cdn.shopify.com/s/files/1/0013/7487/9814/files/icons-3_200x200.png?v=1534837928" alt="">
      <h6>Fast Delivery</h6>
      <p>On Order Over $23 - 7 Days A Week</p>
    </div>
  </div>

</section>
<section class="deals section">
  <div class="deals-title">
    <h2>Best Selling Products  </h2>
    <div class="best-deals">
      <!-- Box 1 -->
      <div class="box">
        <img src="https://cdn.shopify.com/s/files/1/1284/6493/products/5_600x.jpg?v=1470655257" alt="">
        <div class="box-text">
            <h2>Subway Surfers</h2>
            <h3>Action</h3>
            <div class="rating-download">
                <div class="rating">
                    <i class="bx bxs-star"></i>
                    <span>4.7</span>
                </div>
                <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
            </div>
        </div>
      </div>
      <!-- Box 1 -->
      <div class="box">
        <img src="https://cdn.shopify.com/s/files/1/1284/6493/products/5_600x.jpg?v=1470655257" alt="">
        <div class="box-text">
            <h2>Subway Surfers</h2>
            <h3>Action</h3>
            <div class="rating-download">
                <div class="rating">
                    <i class="bx bxs-star"></i>
                    <span>4.7</span>
                </div>
                <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
            </div>
        </div>
    </div>
    <!-- Box 1 -->
    <div class="box">
      <img src="https://cdn.shopify.com/s/files/1/1284/6493/products/5_600x.jpg?v=1470655257" alt="">
      <div class="box-text">
          <h2>Subway Surfers</h2>
          <h3>Action</h3>
          <div class="rating-download">
              <div class="rating">
                  <i class="bx bxs-star"></i>
                  <span>4.7</span>
              </div>
              <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
          </div>
      </div>
    </div>
    <!-- Box 1 -->
    <div class="box">
      <img src="https://cdn.shopify.com/s/files/1/1284/6493/products/5_600x.jpg?v=1470655257" alt="">
      <div class="box-text">
          <h2>Subway Surfers</h2>
          <h3>Action</h3>
          <div class="rating-download">
              <div class="rating">
                  <i class="bx bxs-star"></i>
                  <span>4.7</span>
              </div>
              <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
          </div>
      </div>
    </div>
      <!-- Box 1 -->
    <div class="box">
      <img src="https://cdn.shopify.com/s/files/1/1284/6493/products/5_600x.jpg?v=1470655257" alt="">
      <div class="box-text">
          <h2>Subway Surfers</h2>
          <h3>Action</h3>
          <div class="rating-download">
              <div class="rating">
                  <i class="bx bxs-star"></i>
                  <span>4.7</span>
              </div>
              <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
          </div>
      </div>
    </div>
         <!-- Box 1 -->
      <div class="box">
        <img src="https://cdn.shopify.com/s/files/1/1284/6493/products/5_600x.jpg?v=1470655257" alt="">
        <div class="box-text">
            <h2>Subway Surfers</h2>
            <h3>Action</h3>
            <div class="rating-download">
                <div class="rating">
                    <i class="bx bxs-star"></i>
                    <span>4.7</span>
                </div>
                <a href="#" class="box-btn"><i class="bx bx-down-arrow-alt"></i></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>




{% endblock %}