
{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <title>Bonjoe - Payments</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn.pixabay.com/photo/2013/07/12/17/39/star-152151__480.png">    
   <!-- ======= All CSS Plugins here ======== -->
   <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/plugins/glightbox.min.css' %}">
 <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 <!-- Plugin css -->
 <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css"> -->

 <!-- Custom Style CSS -->
 <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
 <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
 <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">


</head>

<body>

   <!-- Start preloader -->
   <div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
                <span data-text-preloader="W" class="letters-loading">
                    W
                </span>

                <span data-text-preloader="E" class="letters-loading">
                    E
                </span>

                <span data-text-preloader="L" class="letters-loading">
                    L
                </span>

                <span data-text-preloader="C" class="letters-loading">
                    C
                </span>

                <span data-text-preloader="O" class="letters-loading">
                    O 
                </span>

                <span data-text-preloader="M" class="letters-loading">
                    M 
                </span>

                <span data-text-preloader="E" class="letters-loading">
                    E
                </span>
            </div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
<!-- End preloader -->
        
    <!-- Start checkout page area -->
    <div class="checkout__page--area">
        <div class="container">
            <div class="checkout__page--inner d-flex">
                <div class="main checkout__mian">
                    <header class="main__header checkout__mian--header mb-30">
                        <h1 class="main__logo--title"><a class="logo logo__left mb-20" href="{% url 'index' %}"><p style="font-style: italic;font-size:xx-large;font-weight:900;">Bonjoe</p></a></h1>
                        <details class="order__summary--mobile__version">
                            <summary class="order__summary--toggle border-radius-5">
                                <span class="order__summary--toggle__inner">
                                    <span class="order__summary--toggle__icon">
                                        <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <span class="order__summary--toggle__text show">
                                        <span>Show order summary</span>
                                        <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="currentColor"><path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"></path></svg>
                                    </span>
                                    <span class="order__summary--final__price">Ksh {{ sub_total }}</span>
                                </span>
                            </summary>
                            <div class="order__summary--section">
                                <div class="cart__table checkout__product--table">
                                    <table class="summary__table">
                                        <tbody class="summary__table--body">
                                            {% for cart_item in cart_items %}
                                            <tr class=" summary__table--items">
                                                <td class=" summary__table--list">
                                                    <div class="cart__product d-flex align-items-center">
                                                        <div class="product__thumbnail border-radius-5">
                                                            <a href="{{ cart_item.product.get_url }}"><img class="border-radius-5" src="{{cart_item.product.image1.url}}" alt="cart-product"></a>
                                                            <span class="product__thumbnail--quantity">{{ cart_item.quantity }}</span>
                                                        </div>
                                                        <div class="product__description">
                                                            <h3 class="product__description--name h4"><a href="{{ cart_item.product.get_url }}">Raw-onions-surface</a></h3>
                                                            <span class="product__description--variant">COLOR: White</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class=" summary__table--list">
                                                    <span class="cart__price">Ksh {{cart_item.product.new_price}}</span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table> 
                                </div>
                               
                                <div class="checkout__total">
                                    <table class="checkout__total--table">
                                        <tbody class="checkout__total--body">
                                            <tr class="checkout__total--items">
                                                <td class="checkout__total--title text-left">Subtotal </td>
                                                <td class="checkout__total--amount text-right">{{ sub_total }}</td>
                                            </tr>
                                            <tr class="checkout__total--items">
                                                <td class="checkout__total--title text-left">Shipping</td>
                                                <td class="checkout__total--calculated__text text-right">Calculated at next step</td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="checkout__total--footer">
                                            <tr class="checkout__total--footer__items">
                                                <td class="checkout__total--footer__title checkout__total--footer__list text-left">Total </td>
                                                <td class="checkout__total--footer__amount checkout__total--footer__list text-right">{{ sub_total }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </details>
                        <nav>
                            <ol class="breadcrumb checkout__breadcrumb d-flex">
                                <li class="breadcrumb__item breadcrumb__item--completed d-flex align-items-center">
                                    <a class="breadcrumb__link" href="{% url 'cart' %}">Cart</a>
                                    <svg class="readcrumb__chevron-icon" xmlns="http://www.w3.org/2000/svg" width="17.007" height="16.831" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"></path></svg>
                                </li>
                                <li class="breadcrumb__item breadcrumb__item--current d-flex align-items-center">
                                    <a class="breadcrumb__link" href="{% url 'checkout' %}">Information</a>
                                    <svg class="readcrumb__chevron-icon" xmlns="http://www.w3.org/2000/svg" width="17.007" height="16.831" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"></path></svg>
                                </li>
                                <li class="breadcrumb__item breadcrumb__item--blank">
                                    <span class="breadcrumb__text current">Payment</span>
                                </li>
                            </ol>
                            </nav>
                    </header>
                    <main class="main__content_wrapper">
                        <div class="checkout__content--step section__shipping--address">
                            <div class="card" >
                                <div class="card-header" >
                                <h4 class="text-dark text-center">Payment Procedure</h4>
                                <p class="text-center"><strong>MPESA STK payment</strong></p>
                                </div>
                                <ul class="p-3" style="list-style: none;">
                                <li><i class="fas fa-check-square"></i> Fill in the form.</li>
                                <li><i class="fas fa-check-square"></i> Ensure you enter Mpesa no.</li>
                                <li><i class="fas fa-check-square"></i> Click on Lipa na Mpesa button and wait for the mpesa pop up on your phone.</li>
                                <li><i class="fas fa-check-square"></i> Confirm the amount and enter your pin.</li>
                                <li><i class="fas fa-check-square"></i> Press ok to send.</li>
                                <li><i class="fas fa-check-square"></i> Upon successful payment you will receive an email notification.
                                </li>
                                </ul>
                            </div>
                             
                            
                        </div>

                            
                    </main>
                    <div class="row">
                        <div class=" checkout__content--step section__shipping--address">
                                <form class="forms card" action="{%url 'userPayment' %}" method="POST" enctype="multipart/form-data" >
                                <div class="card-header">
                                    <h4 class="text-dark text-center">Make your payment of Ksh <strong>{{ sub_total }}</strong> using the form below.</h4>
                                </div>
                        
                                <fieldset class="form-group p-3">
                                    {% csrf_token %}  {% bootstrap_form mpesa_form %} 
                                </fieldset>
                                <div class="form-group text-center">
                                    <button class="primary__btn mpesa-btn" type="submit" data-toggle="modal" data-target="#myModal">Lipa na Mpesa</button>
                                </div>
                                </form>
                            </div>
                            <div class="checkout__content--step__footer d-flex align-items-center">
                                <a class="previous__link--content" href="{% url 'checkout' %}">Return to checkout</a>
                            </div>
                    </div>
                    <footer class="main__footer checkout__footer">
                        <p class="copyright__content">Copyright © 2022 <a class="copyright__content--link text__primary" href="{%url 'index' %}">Bonjoe</a> . All Rights Reserved.</p>
                    </footer>
                </div>
                <aside class="checkout__sidebar sidebar">
                    <div class="cart__table checkout__product--table">
                        <table class="cart__table--inner">
                            <tbody class="cart__table--body">
                                {% for cart_item in cart_items %}
                                <tr class="cart__table--body__items">
                                    <td class="cart__table--body__list">
                                        <div class="product__image two  d-flex align-items-center">
                                            <div class="product__thumbnail border-radius-5">
                                                <a href="{{ cart_item.product.get_url }}"><img class="border-radius-5" src="{{cart_item.product.image1.url}}" alt="cart-product"></a>
                                                <span class="product__thumbnail--quantity">{{ cart_item.quantity }}</span>
                                            </div>
                                            <div class="product__description">
                                                <h3 class="product__description--name h4"><a href="{{ cart_item.product.get_url }}">{{cart_item.product.name}}</a></h3>
                                                <span class="product__description--variant">COLOR: Blue</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__table--body__list">
                                        <span class="cart__price">Ksh {{cart_item.product.new_price}}</span>
                                    </td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table> 
                    </div>
   
                    <div class="checkout__total">
                        <table class="checkout__total--table">
                            <tbody class="checkout__total--body">
                                <tr class="checkout__total--items">
                                    <td class="checkout__total--title text-left">Subtotal </td>
                                    <td class="checkout__total--amount text-right">Ksh {{sub_total}}</td>
                                </tr>
                                <tr class="checkout__total--items">
                                    <td class="checkout__total--title text-left">Shipping</td>
                                    <td class="checkout__total--calculated__text text-right">Calculated at next step</td>
                                </tr>
                            </tbody>
                            <tfoot class="checkout__total--footer">
                                <tr class="checkout__total--footer__items">
                                    <td class="checkout__total--footer__title checkout__total--footer__list text-left">Total </td>
                                    <td class="checkout__total--footer__amount checkout__total--footer__list text-right">Ksh {{sub_total}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!-- End checkout page area -->

    <!-- Scroll top bar -->
    <button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/></svg></button>

  <!-- All Script JS Plugins here  -->
  <!-- <script src="assets/js/vendor/popper.js" defer="defer"></script> -->
  <!-- <script src="assets/js/vendor/bootstrap.min.js" defer="defer"></script> -->
  
  <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/glightbox.min.js' %}"></script>
  
  <!-- Customscript js -->
  <script src="{% static 'assets/js/script.js' %}"></script>
  
  
</body>

</html>
 